header{
    margin: 0;
    padding: 5px;
    background-color: #AACE9B;
}
h1{
    position: relative;
    margin: 0;
    text-align: left;
    font-family: 'Righteous', cursive;
    font-size: 50px;
}
ul{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right;
}
header li{
    display: inline;
    float: right;
}
header li a{
    display: block;
    padding: 10px 50px;
    color: black;
    text-align: center;
    text-decoration: none;
}
li a:hover{
    background-color: #98b98a;
}