header{
    display: flex;
    width: 100%;
    min-height: 10%;
    background-color: #AACE9B;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}
header img{
    margin: 0 10px;
}
h1{
    margin: 0 10px;
    font-family: 'Righteous', cursive;
    font-size: 3rem;
}
ul{
    display: none;
    list-style-type: none;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
header li{
    padding: 0;
}
header li a{
    display: block;
    padding: 0 20px;
    color: black;
    text-align: center;
    text-decoration: none;
}
li a:hover{
    background-color: #98b98a;
}