body{
    display: flex;
    font-family: 'Roboto', sans-serif;
}
ol{
    text-align: left;
}
h2{
    width: 60%;
    margin: 1rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0 4px #ccc;
}
h3{
    margin: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color:  #AACE9B;
    text-decoration-thickness: 4px;
}
h4{
    flex-shrink: 0;
    font-size: 1.75rem;
}
h5{
    width: 100%;
    font-size: 1.75rem;
    text-align: center;
    text-decoration: underline;
    text-decoration-color:  #AACE9B;
    text-decoration-thickness: 4px;
}