body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
@media(max-width: 480px){
    .sidebar{
        display: none;
    }
}
@media(max-width: 768px){
    ul{
        display: none;
    }
    header li{
        display: none;
    }
}